*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: white;
}

main{
    width: 100%;

    .section3{
        .heading{
            margin-top: 1rem;

            h2{
                font-size: 1.5rem;
                padding-left: 1rem;
            }
        }

        .stories{
            .story{
                margin-top: 2.2rem;
                h6{
                    padding-left: 1rem;
                    color: rgb(49, 49, 49);
                }
            }
        }
    }
        
}

@media (min-width: 768px){
    main{
      .section3{
        .heading{
            h2{
                font-size: 2rem;
                padding-left: 1.2rem;
            }
        }

        .stories{
            .story{
                h6{
                    padding-left: 1.2rem;
                }
            }
        }
      }
    }
}

