*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: white;
}

main{
    width: 100%;

    .section3{
        .heading{
            margin-top: 1rem;

            h2{
                font-size: 1.5rem;
                padding-left: 1rem;
            }
        }

        .stories{
            margin-top: 2.2rem;
            padding-left: 1rem;
            .story{
                h6{
                    color: rgb(62, 62, 62);
                }
            }
            .images{
                padding-top: 2.2rem;
                padding-right: 1rem;
                img{
                    width: 100%;
                    object-fit: cover;
                    width: 20.5rem;
                    height: 20rem;
                    border-radius: 1rem;
                }
            }
            .name{
                padding-top: 1rem;
                h6{
                    color: rgb(66, 66, 66);
                }
            }
        }

        .found{
            margin-top: 1rem;
            padding-left: 1rem;

            h1{
                font-size: 1.5rem;
                font-weight: 700;
            }
        }

        .flowers{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 2rem;
            padding-left: 1rem;
            .flower1{
                img{
                    width: 100%;
                    object-fit: cover;
                    width: 20.5rem;
                    height: 20rem;
                    border-radius: 1rem;
                }
            }

            .flower2{
                img{
                    width: 100%;
                    object-fit: cover;
                    width: 20.5rem;
                    height: 20rem;
                    border-radius: 1rem;
                }
            }

            .flower3{
                img{
                    width: 100%;
                    object-fit: cover;
                    width: 20.5rem;
                    height: 20rem;
                    border-radius: 1rem;
                }
            } 
        }  
        
        .journey{
            margin-top: 2.7rem;
            padding-left: 1rem;
            padding-right: 0.8rem;

            p:nth-child(2){
                padding-top: 1.2rem;
            }
        }

        .consultation{
            
        }
    }          
}    

@media (min-width: 768px){
    main{
      .section3{
        .heading{
            h2{
                font-size: 2rem;
                padding-left: 1.5rem;
            }
        }

        .stories{
            display: flex;
            align-items: start;
            padding-left: 1.5rem;
            .story{
                padding-top: 1.2rem;
            }
            .images{
                padding-left: 2.5rem;
                padding-top: 1.2rem;
                img{
                    width: 35rem;
                    height: 28rem;
                }
            }
            .name{
                padding-left: 1rem;
                padding-top: 1.2rem;
            }
        }

        .found{
            margin-top: 2.2rem;
            padding-left: 7rem;
        }

        .flowers{
            padding-left: 7rem;
        }

        .journey{
            padding-left: 7rem;
            padding-right: 50rem;
        }
      }
    }
}

